Source: kaisen-design
Priority: standard
Section: kaisen-packages
Maintainer: Kevin Chevreuil - Kaisen <kaisen@kaisenlinux.org>
Standards-Version: 4.5.1
Build-Depends: debhelper
Homepage: https://kaisenlinux.org

Package: kaisen-design
Architecture: all
Priority: standard
Description: All Kaisen Linux themes, icons and backgrounds
